.space-top {
    margin-top: 20px;
}

.align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.title-spacing-left {
    margin-left: 25px;
}

.item-spacing-left {
    padding-left: 25px;
}

.title-spacing-right {
    margin-right: 25px;
}

.product-spacing-left {
    margin-left: 30px;
}

.product-spacing-right {
    margin-right: 30px;
}

.btn-block {
    width: 95%;
}