.product-container {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.product-content {
    margin: 10px;
}

.product-image-container {
    width: 90%;
    height: 90;
}

.btn-block {
    width: 100%;
}

.done-tag {
    color: green;
}

.text-justify{
    text-align: justify;
}

.button-padding {
    margin: 10px;
}